<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./Partials/Head") %>
    <title>Signin Page</title>
</head>

<body>
    <%- include("./Partials/Nav") %>

    <!-- Signin Form -->
    <div class="container mt-4">
        <form method="post" action="/user/signin">
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include("./Partials/Scripts") %>
</body>

</html>
